In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dat = pd.read_csv("https://raw.githubusercontent.com/rerkki/metropolia/master/vesidata.csv", encoding='latin-1')

df = dat[['pH','Johtokyky','Natrium','Sulfaatti', 'Juoksutus', 'Sulfaatti_indeksi']] #df on datasta muodostettu pienempi osajoukko

dat[0:2] #tulostetaan otsikko ja ensimm√§inen rivi tarkistuksen vuoksi

       Aika  sadanta  ...  Sulfaatti_indeksi  Sadanta_indeksi
0  tammi.15     26.9  ...                  1                1
1  helmi.15     47.3  ...                  1                1

[2 rows x 29 columns]